.nav
{
    width: 224px;
    height: 800px;
    padding: 16px, 10px, 16px, 10px;
    background-color:  #1E2640;
    border-radius: 2px solid red;
}

.abc
{
    background-color:  #1E2640;
}
.body_
{
    background-color:  #1E2640;
}